* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgb(255,231,245);
    background: linear-gradient(90deg, rgba(255,231,245,1) 0%, rgba(217,255,252,1) 49%, rgba(255,234,231,1) 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 150px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Medidas del main y columnas */

main {
    background: rgba(255, 255, 255, 0.39);
    height: 30em;
    width: 60em;;
    color: rgb(20, 24, 67);
    box-shadow: 3px 3px 6px 1px rgba(13, 22, 44, 0.336);
    border-radius: 20px;

    padding: 70px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.priceinfo {
    font-size: 13px;
}

.priceinfo2 {
    margin-bottom: 80px;
}

span {
    font-size: 45px;
}

h3 {
    font-size: 25px;
}

.price1 {
    margin-top: 35px;
    margin-bottom: 30px;
    line-height: 35px;
}

.btn-1, .btn-3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 150px;
    height: 60px;
    font-size: 15px;
    font-weight: 600;
    border-radius: 10px;

    border: none;
    cursor: pointer;
}

.btn-1 {
    background: rgb(252, 78, 140);
}

.btn-2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 130px;
    height: 60px;
    font-size: 15px;
    font-weight: 600;
    border-radius: 10px;

    border: none;
    cursor: pointer;
    background: rgb(9, 225, 239);
}

.btn-3 {
    background: black;
    color: white;
}

.btn-1, .btn-2, .btn-3 {
    position: relative;
    margin-top: 30px;
}

.column, .column2, .column3 {
    padding: 30px;
    margin-top: 70px;
}
