body {
    font-family: sans-serif;
    background-color: rgb(216, 230, 241);
}

.content-box {
    background-color: white;
    color: #2c3E50;
    margin: auto;
    padding: 4px;
    margin-top: 60px;
    width: 432px;
    height: 399px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.151);
}

.content-box::before {
    position:relative;
    content:"\2715";
    font-size:22px;
    color:lightgray;
    font-weight:bold;
    top: -50px;
    right: 50px;
    left: 178px;
    cursor: pointer;
}

.cookies {
    padding-inline: 50px;
    text-align: center;
}

#btn-01 {
    border: none;
    color: white;
    background: #ED6755;
    padding: 15px;
    width: 40%;
    border-radius: 5px;
    box-shadow: 0 4px 5px -2px #2c3e509f;
    
}

#btn-01:hover {
    height: 15%;
    width: 42%;
    font-size: 1em;
    cursor: pointer;
}

.content-box2 {
    background: white;
    color: #2c3E50;
    margin: auto;
    padding: 4px;
    width: 432px;
    height: 399px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
    margin-bottom: 50px;
}


.content-box2:before {
    position:relative;
    content:"\2715";
    font-size:22px;
    color:lightgray;
    font-weight:bold;
    top: -70px;
    right: 10px;
    left: 175px;
    cursor: pointer;
}

#btn-02 {
    border: none;
    color: white;
    background: #1c1b5e;
    padding: 15px;
    width: 40%;
    border-radius: 5px;
    box-shadow: 0 4px 5px -2px #2c3e509f;
}

#btn-02:hover {
    height: 15%;
    width: 42%;
    font-size: 1em;
    cursor: pointer;
}